body {
  background-image: url('/images/feltbackground.jpg');
  font-size: x-large;
  font-family: 'Play', sans-serif;
}

h1,
p {
  font-weight: bold;
  text-align: center;
}

button {
  background-color: #999999;
  color: #ffffff;
  font-family: 'Play', sans-serif;
}

button:hover {
  background-color: #ffffff;
  color: #999999;
}
