body {
  background-image: url('/feltbackground.jpg');
  display: grid;
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
  text-align: center;
  grid-template-columns: 100px 1fr 1fr 1fr;
  height: 100%;
  font-family: 'Play', sans-serif;
}
nav {
  display: block;
}

button {
  background-color: #999999;
  color: #ffffff;
  font-family: 'Play', sans-serif;
  width: 100%;
}

button:hover {
  background-color: #ffffff;
  color: #999999;
}
