body {
  background-color: green;
  display: grid;
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
  text-align: center;
  grid-template-rows: 50px 1fr 300px;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.card {
  display: inline;
}
/* footer {
  display: flex;
  justify-content: center;
  align-items: center;
} */
